Repository PulpQE/pulp-smash, pull requests merged in 2019-03, with the labels that each got.

#1174 Updates pulp-smash for repo layout changes
  pulp_smash/pulp3/utils.py
Labels: Pulp Version: 3

#1179 Update get_artifact_paths() to be more correct
  pulp_smash/pulp3/utils.py
Labels: Pulp Version: 3

#1188 Add 'pulp-smash shell' command.
  docs/about.rst
  pulp_smash/pulp_smash_cli.py
Labels: Issue Type: Discussion

#1190 Lazy load the cli.Client machine
  pulp_smash/cli.py
  tests/test_cli.py
Labels: Issue Type: Enhancement
